.con1{
    height: 200px;
    width: 200px;
    background-color: rgb(221, 221, 221);
    position: absolute;
    top: 100px;
    left: 40%;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3), 
                inset 4px 4px #fff;
}
.con1:hover{
    box-shadow: inset 5px 10px rgba(0, 0, 0, 0.3);
}
.con2{
    height: 120px;
    width: 120px;
    background-color: yellow;
    margin-top: 10px;
    position: relative;
    /* z-index: -1; */
    top: 40px;
    left: 43%;
    border-radius: 30px;
}
p{
    padding-top: 100px;
    /* display: none; */
    text-align: center;
}
h1{
    /* display: none; */
}